* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.big-container {
  display: flex;
  height: 620px;
  padding: 0 275px;
}

.nav {
  width: 200px;
  padding: 20px;
  color: #abb8c3;
}

.nav__container {
  font-size: 1.2rem;
}

.nav__logo {
  width: 60%;
  margin-bottom: 10px;
}

.nav__login {
  display: block;
  color: #abb8c3;
  text-decoration: none;
  margin-bottom: 20px;

}

#join {
  color: orange;
  font-weight: bold;
}

.nav__list {
  list-style: none;
  padding: 0;
  font-size: 20px;
  font-size: 1.5rem;
}

.nav__li {
  margin-bottom: 13px;
}

.nav__li:last-child {
  margin-top: 20px;
}

.nav__a {
  color: #abb8c3;
  text-decoration: none;

}

/* MAIN =============================================== */

.main__container {
  width: 700px;
}

img {
  max-width: 100%;
}

/* ASIDE ============================================= */

