* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: gray;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
}

img:hover,
.bottom__item a:hover {
  opacity: .7;
}

.container {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

.author,
.aside,
#join,
h1,
h2,
.main__extra {
  font-weight: bold;
}

h1,
h2,
.aside__a {
  color: black;
}

.author a {
  color: #333;
}

span {
  display: block;
}

.nav {
  width: 348px;
  padding: 20px;
}

.nav__logo {
  width: 40%;
  margin-bottom: 10px;
}

#join {
  color: orange;
  font-weight: bold;
}

#join:hover {
  color: #dca946;
}

.nav__login {
  display: block;
  color: gray;
  text-decoration: none;
  margin-bottom: 20px;
}

a:hover {
  color: #333;
  opacity: .7;
}

.nav__login:hover,
.nav__a:hover,
.author a:hover {
  color: #00a562;
}

.nav__list {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
}

.nav__li {
  margin-bottom: 13px;
}

.nav__li:last-child {
  margin-top: 20px;
}

.nav__a {
  text-decoration: none;
}

/* MAIN =============================================== */
.main {
  display: flex;
  flex-direction: column;
  max-width: 1382px;
  padding-right: 46px;
}

.main__extra {
  color: goldenrod;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 20px;
}

.main__title {
  margin: 0;
  font-size: 36px;
}

.main__a {
  color: black;
}

.main__paragraph {
  margin: 10px 0;
  font-size: 20px;
}

.author {
  margin-bottom: 10px;
}

/* ASIDE ============================================= */

.aside {
  font-size: 27px;
  max-width: 383px;
  margin-right: 10px;
}

.aside__item {
  margin-top: 10px;
}

.aside .author {
  font-size: 1rem;
  margin-top: 10px;
}

.aside__item {
  border-bottom: 1px solid #ddd;
}

.aside__item:last-child {
  border: 0;
}

/* BOTTOM SECTION ======================= */
.bottom {
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 200px;
}

.bottom__title {
  margin: 10px 0;
  color: black;
}

.bottom__container {
  border-top: 2px solid #f1f1f1;
  display: flex;
  margin-right: 10px;
  padding-top: 20px;
}

.bottom__item {
  flex: 1;
}

.bottom__item h2 a {
  color: black;
}

.bottom__item h2 a:hover {
  opacity: .7;
  color: #333;
}

.bottom__author {
  margin-top: 10px;
}

@media all and (max-width: 768px) {
  * {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  .nav__a {
    display: inline-block;
  }

  .main,
  .aside {
    padding: 0;
    margin: auto;
  }

  .bottom {
    padding: 0;
  }

  .bottom__item {
    margin-bottom: 10px;
  }
}